<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mobiquity" parallel="tests" thread-count="2" verbose="8">

    <test name="mq" parallel="methods" thread-count="5">
        <groups>
            <run>
                <include name="implemented"/>
            </run>
        </groups>
        <packages>
            <package name="api" />
        </packages>
    </test>

</suite>